[submodule "karchive/karchive"]
	path = karchive/karchive
	url = https://invent.kde.org/frameworks/karchive
[submodule "threadweaver/threadweaver"]
	path = threadweaver/threadweaver
	url = https://invent.kde.org/frameworks/threadweaver
[submodule "sonnet/sonnet"]
	path = sonnet/sonnet
	url = https://invent.kde.org/frameworks/sonnet
[submodule "kidletime/kidletime"]
	path = kidletime/kidletime
	url = https://invent.kde.org/frameworks/kidletime
