[Desktop Entry]
Name=BrightFuture
Name[ast]=BrightFuture
Name[bg]=BrightFuture
Name[bs]=BrightFuture
Name[ca]=BrightFuture
Name[ca@valencia]=BrightFuture
Name[cs]=BrightFuture
Name[da]=BrightFuture
Name[de]=BrightFuture
Name[el]=BrightFuture
Name[en_GB]=BrightFuture
Name[eo]=BrightFuture
Name[es]=BrightFuture
Name[et]=BrightFuture
Name[fi]=BrightFuture
Name[fr]=BrightFuture
Name[ga]=BrightFuture
Name[gl]=BrightFuture
Name[hu]=BrightFuture
Name[it]=BrightFuture
Name[ja]=BrightFuture
Name[kk]=BrightFuture
Name[km]=BrightFuture
Name[ko]=BrightFuture
Name[lt]=BrightFuture
Name[lv]=BrightFuture
Name[nb]=BrightFuture
Name[nds]=BrightFuture
Name[nl]=BrightFuture
Name[nn]=BrightFuture
Name[pa]=BrightFuture
Name[pl]=BrightFuture
Name[pt]=BrightFuture
Name[pt_BR]=BrightFuture
Name[ro]=BrightFuture
Name[ru]=BrightFuture
Name[sk]=BrightFuture
Name[sl]=BrightFuture
Name[sq]=BrightFuture
Name[sr]=BrightFuture
Name[sr@ijekavian]=BrightFuture
Name[sr@ijekavianlatin]=BrightFuture
Name[sr@latin]=BrightFuture
Name[sv]=BrightFuture
Name[tr]=BrightFuture
Name[ug]=BrightFuture
Name[uk]=BrightFuture
Name[x-test]=xxBrightFuturexx
Name[zh_CN]=BrightFuture
Name[zh_TW]=BrightFuture
Exec=brightfuture
Icon=brightfuture
Type=Application
X-DocPath=brightfuture/index.html
GenericName=A Simple KDE Application
GenericName[bs]=Prosti KDE program
GenericName[ca]=Una aplicació senzilla del KDE
GenericName[ca@valencia]=Una aplicació senzilla del KDE
GenericName[cs]=Jednoduchá aplikace KDE
GenericName[da]=Et simpelt KDE-program
GenericName[de]=Eine einfache KDE-Anwendung
GenericName[el]=Μια απλή εφαρμογή KDE
GenericName[en_GB]=A Simple KDE Application
GenericName[es]=Una aplicación sencilla para KDE
GenericName[et]=Lihtne KDE rakendus
GenericName[fi]=Yksinkertainen KDE-sovellus
GenericName[fr]=Une application simple pour KDE
GenericName[ga]=Feidhmchlár Simplí KDE
GenericName[gl]=Aplicativo de KDE sinxelo
GenericName[hu]=Egyszerű KDE alkalmazás
GenericName[it]=Una semplice applicazione di KDE
GenericName[kk]=Қарапайым KDE қолданбасы
GenericName[ko]=간단한 KDE 프로그램
GenericName[lt]=Paprasta KDE programa
GenericName[nb]=Et enkelt KDE4-program
GenericName[nl]=Een eenvoudige KDE-toepassing
GenericName[pa]=ਸਧਾਰਨ KDE ਐਪਲੀਕੇਸ਼ਨ
GenericName[pl]=Prosty program KDE
GenericName[pt]=Uma Aplicação Simples do KDE
GenericName[pt_BR]=Um aplicativo simples do KDE
GenericName[ru]=Простое приложение KDE
GenericName[sk]=Jednoduchá KDE aplikácia
GenericName[sl]=Preprost program za KDE
GenericName[sr]=Једноставни КДЕ програм
GenericName[sr@ijekavian]=Једноставни КДЕ програм
GenericName[sr@ijekavianlatin]=Jednostavni KDE program
GenericName[sr@latin]=Jednostavni KDE program
GenericName[sv]=Ett enkelt KDE-program
GenericName[tr]=Baist bir KDE4 Uygulaması
GenericName[uk]=Проста програма для KDE
GenericName[x-test]=xxA Simple KDE Applicationxx
GenericName[zh_CN]=简单的 KDE 应用程序
GenericName[zh_TW]=簡單的 KDE 應用程式
